<div class="container vh-100 d-flex justify-content-center align-items-center overflow-hidden">
  <div class="card shadow col-md-4 col-lg-4" style="max-width: 400px;">
    <div class="card-body">
      <h3 class="card-title text-center">Sign Up</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="form-group mb-1">
          <%= f.label :first_name, class: 'form-label', style: 'font-size: 0.9rem;' %>
          <%= f.text_field :first_name, class: 'form-control', style: 'font-size: 0.9rem;' %>
          <% if resource.errors[:first_name].any? %>
            <div class="text-danger" style="font-size: 0.8rem;"><%= resource.errors[:first_name].first %></div>
          <% end %>
        </div>

        <div class="form-group mb-1">
          <%= f.label :last_name, class: 'form-label', style: 'font-size: 0.9rem;' %>
          <%= f.text_field :last_name, class: 'form-control', style: 'font-size: 0.9rem;' %>
          <% if resource.errors[:last_name].any? %>
            <div class="text-danger" style="font-size: 0.8rem;"><%= resource.errors[:last_name].first %></div>
          <% end %>
        </div>

        <div class="form-group mb-1">
          <%= f.label :email, class: 'form-label', style: 'font-size: 0.9rem;' %>
          <%= f.email_field :email, class: 'form-control', style: 'font-size: 0.9rem;' %>
          <% if resource.errors[:email].any? %>
            <div class="text-danger" style="font-size: 0.8rem;"><%= resource.errors[:email].first %></div>
          <% end %>
        </div>

        <div class="form-group mb-1">
          <%= f.label :password, class: 'form-label', style: 'font-size: 0.9rem;' %>
          <div class="input-group">
            <%= f.password_field :password, class: 'form-control', id: 'password', style: 'font-size: 0.9rem;' %>
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('password', this)">
                <i class="bi bi-eye-slash"></i>
              </button>
            </div>
          </div>
          <% if resource.errors[:password].any? %>
            <div class="text-danger" style="font-size: 0.8rem;"><%= resource.errors[:password].first %></div>
          <% end %>
        </div>

        <div class="form-group mb-1">
          <%= f.label :password_confirmation, class: 'form-label', style: 'font-size: 0.9rem;' %>
          <div class="input-group">
            <%= f.password_field :password_confirmation, class: 'form-control', id: 'password_confirmation', style: 'font-size: 0.9rem;' %>
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('password_confirmation', this)">
                <i class="bi bi-eye-slash"></i>
              </button>
            </div>
          </div>
          <% if resource.errors[:password_confirmation].any? %>
            <div class="text-danger" style="font-size: 0.8rem;"><%= resource.errors[:password_confirmation].first %></div>
          <% end %>
        </div>

        <div class="form-group mb-1">
          <%= f.label :role, class: 'form-label', style: 'font-size: 0.9rem;' %>
          <%= f.select :role, options_for_select([['Volunteer', 'volunteer'], ['Organization', 'organization']]), {}, class: 'form-select', style: 'font-size: 0.9rem;' %>
          <% if resource.errors[:role].any? %>
            <div class="text-danger" style="font-size: 0.8rem;"><%= resource.errors[:role].first %></div>
          <% end %>
        </div>

        <div class="text-center mt-2">
          <%= f.submit "Sign up", class: 'btn btn-primary btn-block', style: 'font-size: 0.9rem;' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  function togglePasswordVisibility(fieldId, button) {
    const passwordField = document.getElementById(fieldId);
    const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
    passwordField.setAttribute('type', type);
    const icon = button.querySelector('i');
    if (type === 'text') {
      icon.classList.remove('bi-eye-slash');
      icon.classList.add('bi-eye');
    } else {
      icon.classList.remove('bi-eye');
      icon.classList.add('bi-eye-slash');
    }
  }
</script>