<%= form_with(model: organization, local: true) do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation" style="color: red">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
        <% organization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :contact_email, style: "display: block" %>
    <%= form.email_field :contact_email %>
  </div>

  <div class="field">
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :need_id, "Select your need", style: "display: block" %>
    <%= form.collection_select :need_id, @needs, :id, :title, prompt: 'Select your need' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
