<div id="<%= dom_id organization %>">
  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= organization.description %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= organization.contact_email %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= organization.location %>
  </p>

</div>
